/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*COLORS*/
/*FONTSIZE*/
* {
  box-sizing: border-box; }

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 0;
  background: url('../img/common/background.jpg');
  background-size: cover;
}

a {
  text-decoration: none; }
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #11263c;
  z-index: 10; }
  .header__content {
    margin: 0 auto 1px;
    padding: 10px 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.23); }
  .header__company-name {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 20px;
    color: #FFFFFF; }
  .header__company-name img {
    width: 200px; }
  .header__control {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: right; }
  .header__logo-image {
    width: 75px; }
  .header__control-link {
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 2px;
    transition: 0.2s; }
    .header__control-link:hover {
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF; }
    .header__control-link:last-child {
      margin-right: 0; }
.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  background: rgba(37, 37, 37, 0.3);
  position: fixed;
  left: 0;
  top: 77px;
  height: 100%;
  z-index: 2; }
  .sidebar__menu {
    height: 91vh;
    overflow-y: auto; }
  .sidebar__item {
    display: inline-block;
    width: 100%;
    background: rgba(37, 37, 37, 0.3);
    font-size: 14px;
    padding: 18px 20px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s; }
    .sidebar__item:hover {
      background: #F0F0F0;
      color: #193654; }
  .sidebar__image {
    text-align: center;
    padding: 20px 0; }
  .sidebar__user-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; }
  .sidebar__content {
    padding: 20px 0; }
  .sidebar__name {
    display: block;
    padding: 20px 0 30px;
    border-bottom: 1px dotted #FFFFFF; }
  .sidebar__icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: x-large; }
  .sidebar__icon-right {
    float: right;
    padding-top: 5px; }
  .sidebar__user-name, .sidebar__position {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 3px; }
  .sidebar__position {
    font-size: 12px; }
  .sidebar__information {
    padding: 20px 0; }
  .sidebar__information-list {
    display: block;
    padding: 10px; }
  .sidebar__information-data {
    margin-right: 10px;
    font-size: 14px;
    color: #FFFFFF; }
  .sidebar__sub-list {
    display: none; }
  .sidebar__text {
    vertical-align: middle;
    position: relative }
  .sidebar__link-text {
    position: relative;
  }
  .sidebar__text small,
  .sidebar__link-text small {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: -35px;
  }

.sidebar__item-list .sidebar__item {
  padding-left: 40px; }

.sidebar__item.sidebar__item--generate-reports {
  padding-left: 56px; }

.sidebar__icon.sidebar__icon--sub {
  margin: 0;
  font-size: medium; }

.sidebar__text.sidebar__text--reports {
  display: inline-block;
  width: 89%;
  vertical-align: top; }
.main-content {
  position: absolute;
  left: 21%;
  top: 75px;
  width: 78%;
}
.content {
  border: 1px solid #fff;
  margin: 20px 0;
  background: #fff;
  box-shadow: 1px 1px 6px #fff;
  padding: 20px;
  border-radius: 5px;
  min-height: 550px;
}
.panel-chart {
  display: inline-block;
  width: 48%;
  vertical-align: middle;
  margin-right: 2%;
}
.panel-chart-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 0;
}
.panel-chart:last-child,
.panel-chart:nth-child(2n) {
  margin-right: 0;
}
.panel-chart-wrapper {

}
.panel-title {
  font-size: 22px;
}
.department-list {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 5px 10px;
}
.department-list:first-child {
  border: 2px solid rgb(0, 163, 51);
  background: rgb(0, 163, 51);
  color: #fff;
}
.department-list:nth-child(2) {
  border: 2px solid rgb(255, 0, 0);
  background: rgb(255, 0, 0);
  color: #fff;
}
.department-list:nth-child(3) {
  border: 2px solid rgb(54, 162, 235);
  background: rgb(54, 162, 235);
  color: #fff;
}
.department-list:nth-child(4) {
  border: 2px solid rgb(255, 255, 1);
  background: rgb(255, 255, 1);
}
.department-list:nth-child(5) {
  border: 2px solid rgb(238, 130, 238);
  background: rgb(238, 130, 238);
  color: #fff;
}
.department-list:nth-child(6) {
  border: 2px solid rgb(158, 226, 209);
  background: rgb(158, 226, 209);
}
.department-list:nth-child(7) {
  border: 2px solid rgb(27, 0, 78);
  background: rgb(27, 0, 78);
  color: #fff;
}
.department-list:last-child {
  margin-right: 0;
  border: 2px solid rgb(255, 165, 1);
  background: rgb(255, 165, 1);
  color: #fff;
}

.department-title small {
  font-size: 11px;
}
.department-feedbacks {
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
}
.department {
  padding: 20px 0;
  text-align: center;
}
table {
  font-size: 14px;
  text-align: center;
  margin: 30px 0 0!important;
}
.table__body-list a {
  display: inline-block;
  padding: 10px 20px;
  background: #1e8cff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.dataTables_paginate.paging_simple_numbers {
  font-size: 12px;
  padding: 20px 20px 0;
  margin: 20px 0 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.8);
  font-size: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.modal-container {
  margin: 5% auto;
  width: 800px;
  box-shadow: 0px 0px 15px #FFF;
  border: 1px solid #000;
  background: #ececec;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.close-modal {
  position: absolute;
  top: -50px;
  right: -30px;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.modal-feedback-category {
  font-size: 14px;
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.modal-rate {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
}
.modal-feedback-list {
  display: inline-block;
  padding: 10px 100px;
  width: 100%;
}
.modal-suggestions-comments {
  font-size: 14px;
  display: block;
  line-height: 1.5em;
  border: 1px solid #333333;
  padding: 15px 10px;
  border-radius: 4px;
  width: 100%;
  background: #fff;
}
.modal-suggestion-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
.login {
  background: url('../img/common/background.jpg');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
.login-box {
  max-width: 500px;
  margin: 8% auto; 
}
.login-form {
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
}
.form {
  border-top: 2px solid #ff2520;
  margin-top: 10px;
}
.login-label {
  font-size: 14px;
  display: block;
  padding-bottom: 3px;
  text-align: left
}
.login-row {
  padding: 10px 20px;
  text-align: center;
}
.login-input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.login-button {
  border: 1px solid #4381c1;
  padding: 10px 50px;
  box-sizing: border-box;
  background: #4381c1;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
.login-button:hover {
  background: #fff;
  color: #4381c1;
}
.form-content {
  display: block;
  padding: 20px 0;
}
.form-list {
  padding: 10px 150px;
}
.form-label {
  font-size: 14px;
  display: block;
  padding: 0 0 10px;
}
.form-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffe1;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 5px;
}
.form-textarea {
  height: 250px;
  resize: none;
}
.form-error {
  font-size: 12px;
  color: #f00;
  display: block;
}
.form-list-button {
  padding: 10px 150px;
  text-align: center;
}
.form-button {
  border: 1px solid #4381c1;
  padding: 10px 50px;
  box-sizing: border-box;
  background: #4381c1;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
.form-button:hover {
  background: #fff;
  color: #4381c1;
}
.chartjs-render-monitor {
  display: block;
  width: 538px !important;
  height: 290px !important;
  margin: 0 auto;
  padding: 20px;
}
.button-edit {
  display: inline-block;
  width: 60px;
  background: #94aeff;
  padding: 8px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
.button-delete {
  display: inline-block;
  width: 60px;
  background: #e72e2e;
  padding: 8px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
.button-view {
  display: inline-block;
  width: 60px;
  background: #94aeff;
  padding: 8px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
.comments {
  font-size: 14px;
  padding: 0 10px;
  line-height: 1.5em;
}
.review-label {
  font-size: 14px;
  display: inline-block;
  padding: 0 15px 10px 0;
  font-weight: bold;
}
.review-item {
  font-size: 14px;
  padding: 8px 5px;
}
.review-item span {
  padding: 5px;
}
.review-item span:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #0079ff;
  font-family: serif;
}

.review-item span.negative {
  color: red;
}
.review-span {
  font-size: 14px;
  display: inline-block;
  padding: 0 5px;
}
.back-button {
  display: inline-block;
  font-size: 16px;
  padding: 10px 19px;
  background-color: #152f49;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #152f49;
}
.back-button:hover {
  background-color: #fff;
  color: #152f49;
  border: 1px solid #152f49;
}
.flash-success {
  background: #0bff9e;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
.flash-error {
  background: #e9431a;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
}

.dashboard-select {
  display: block;
  padding: 0 20px;
  text-align: right;
}

.dashboard-select select {
  height: 50px;
  width: 300px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  box-shadow: 1px 1px 3px #d6d6d6;
}
.loading-screen {
  width: 400px;
  margin: 0 auto;
  display: none;
}
.loading-wrapper {
  display: block;
  width: 100%;
  text-align: center;
}