/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*COLORS*/
/*FONTSIZE*/
* {
  box-sizing: border-box; }

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 0;
  background: #EDF4F0; }

a {
  text-decoration: none; }
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #193654;
  z-index: 10; }
  .header__content {
    margin: 0 auto 1px;
    padding: 10px 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.23); }
  .header__company-name {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 20px;
    color: #FFFFFF; }
  .header__company-name img {
    width: 200px; }
  .header__control {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: right; }
  .header__logo-image {
    width: 75px; }
  .header__control-link {
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 2px;
    transition: 0.2s; }
    .header__control-link:hover {
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF; }
    .header__control-link:last-child {
      margin-right: 0; }
.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  background: #152f49;
  position: fixed;
  left: 0;
  top: 77px;
  height: 100%;
  z-index: 2; }
  .sidebar__menu {
    height: 91vh;
    overflow-y: auto; }
  .sidebar__item {
    display: inline-block;
    width: 100%;
    background: #193654;
    font-size: 14px;
    padding: 18px 20px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s; }
    .sidebar__item:hover {
      background: #F0F0F0;
      color: #193654; }
  .sidebar__image {
    text-align: center;
    padding: 20px 0; }
  .sidebar__user-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; }
  .sidebar__content {
    padding: 20px 0; }
  .sidebar__name {
    display: block;
    padding: 20px 0 30px;
    border-bottom: 1px dotted #FFFFFF; }
  .sidebar__icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: x-large; }
  .sidebar__icon-right {
    float: right;
    padding-top: 5px; }
  .sidebar__user-name, .sidebar__position {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 3px; }
  .sidebar__position {
    font-size: 12px; }
  .sidebar__information {
    padding: 20px 0; }
  .sidebar__information-list {
    display: block;
    padding: 10px; }
  .sidebar__information-data {
    margin-right: 10px;
    font-size: 14px;
    color: #FFFFFF; }
  .sidebar__sub-list {
    display: none; }
  .sidebar__text {
    vertical-align: middle;
    position: relative }
  .sidebar__link-text {
    position: relative;
  }
  .sidebar__text small,
  .sidebar__link-text small {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: -35px;
  }

.sidebar__item-list .sidebar__item {
  padding-left: 40px; }

.sidebar__item.sidebar__item--generate-reports {
  padding-left: 56px; }

.sidebar__icon.sidebar__icon--sub {
  margin: 0;
  font-size: medium; }

.sidebar__text.sidebar__text--reports {
  display: inline-block;
  width: 89%;
  vertical-align: top; }
.main-content {
  position: absolute;
  left: 290px;
  top: 75px;
  width: 1040px;
}
.content {
  border: 1px solid #193654;
  margin: 20px 0;
  background: #fff;
  padding: 20px;
}
.panel-chart {
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
}
.panel-title {
  font-size: 22px;
}
.department-list {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  font-size: 14px;
  border: 2px solid #193654;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 2%;
  background: #fdffe5;
}
.department-list:last-child {
  margin-right: 0;
}
.department-title {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #193654;
  text-align: center;
}
.department-title small {
  font-size: 11px;
}
.department-feedbacks {
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
}
.department {
  padding: 20px 0;
}
table {
  font-size: 14px;
  text-align: center;
  margin: 30px 0 0!important;
}
.table__body-list a {
  display: inline-block;
  padding: 10px 20px;
  background: #1e8cff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.dataTables_paginate.paging_simple_numbers {
  font-size: 12px;
  padding: 20px 20px 0;
  margin: 20px 0 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.8);
  font-size: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.modal-container {
  margin: 5% auto;
  width: 800px;
  box-shadow: 0px 0px 15px #FFF;
  border: 1px solid #000;
  background: #ececec;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.close-modal {
  position: absolute;
  top: -50px;
  right: -30px;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.modal-feedback-category {
  font-size: 14px;
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.modal-rate {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
}
.modal-feedback-list {
  display: inline-block;
  padding: 10px 100px;
  width: 100%;
}
.modal-suggestions-comments {
  font-size: 14px;
  display: block;
  line-height: 1.5em;
  border: 1px solid #333333;
  padding: 15px 10px;
  border-radius: 4px;
  width: 100%;
  background: #fff;
}
.modal-suggestion-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
.login {
  background: #193654;
  position: fixed;
  height: 100%;
  width: 100%;
}
.login-box {
  max-width: 500px;
  margin: 8% auto; 
}
.login-form {
  box-shadow: 0 0 3px #e5f99a;
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
  border: 2px solid #e5f99a;
}
.form {
  border-top: 2px solid #e5f99a;
  margin-top: 10px;
}
.login-label {
  font-size: 14px;
  display: block;
  padding-bottom: 3px;
  text-align: left
}
.login-row {
  padding: 10px 20px;
  text-align: center;
}
.login-input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.login-button {
  border: 1px solid #4381c1;
  padding: 10px 50px;
  box-sizing: border-box;
  background: #4381c1;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
.login-button:hover {
  background: #fff;
  color: #4381c1;
}