/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 15px/1.5 Mongolian Baiti;
    padding: 0;
    margin: 0;
    background: rgba( 235, 232, 232, 0.3 );   
    font-family: Poppins,sans-serif; 
}
header {
    background: #193654;
}
.header-content {
    margin: 0 auto;
    max-width: 1170px;
    font-size: 0;
    padding: 20px 0
}
.header-logo {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.header-side {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    text-align: right;
}
.header-school-year {
    display: block;
    padding-bottom: 15px;
}
.header-year-title,
.header-contact-title {
    display: block;
    color: #e5f99a;
    font-weight: bold;
}
.navigation {
    background: #152f49;
}
.navigation-list {
    max-width: 1170px;
    margin: 0 auto;
    font-size: 0;
}
.navigation-item {
    display: inline-block;
    width: 16.66%;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    border-left: 1px solid #16375a;
    font-weight: bold;
    transition: 0.3s;
}
.navigation-item-course {
    padding: 10px 5px;
}
.navigation-item:last-child {
    border-right: 1px solid #16375a;
}
.navigation-toggle {
    top: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    background: #152f49;
    visibility: hidden;
    z-index: 2;
}
.navigation-link {
    width: 100%;
    padding: 15px 5px;
    display: block;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}
.navigation-link:hover {
    background: #193654;
    cursor: pointer;
}
.navigation-item:hover {
    background: #193654;
    cursor: pointer;
}
.navigation-item:hover .navigation-toggle {
    visibility: visible;
}
.main-content {
    margin: 0 auto;
    max-width: 1170px;
    font-size: 0;
}
.statement {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
}
.statement-content {
    margin-top: 50px;
    border: 1px solid #193654;
    border-radius: 3px;
    background: #fff;
}
.statement-content p {
    font-size: 14px;
}
.statement-mission span,
.statement-vision span {
    font-weight: bold;
    font-size: 18px;
    color: #193654;
    padding-bottom: 5px;
    display: block;
}
.statement-mission,
.statement-vision {
    padding: 15px 30px;
    box-sizing: border-box;
}
.footer {
    background: #193654;
    text-align: center;
    padding: 25px 0px;
    color: #fff;
    font-size: 16px;
}
.top-message {
    text-align: center;
    padding: 30px;
}
.top-message > span {
    display: block;
    font-size: 35px;
    font-weight: 600;
    color: #152f49;
}
.top-message-description {
    padding: 40px 50px 10px;
}
.top-message-description p {
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    color: #152f49;
}
.content {
    margin-top: 40px;
    width: 100%;
    display: inline-block;
}
.admin {
    display: none;
    min-height: 400px;
}
.admin h2 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #152f49;
}
.admin-title {
    font-size: 18px;
    color: #193654;
    font-weight: bold;
    padding-bottom: 15px;
}
.admin-item {
    display: inline-block;
    width: 31.3%;
    vertical-align: middle;
    padding: 15px;
    border: 1px solid #a8b5c3;
    border-radius: 3px;
    box-shadow: 2px 3px 5px #193654;
    box-sizing: border-box;
    margin-right: 3%;
    margin-bottom: 3%;
    background: #fff;
}
.admin-item:nth-child(3n) {
    margin-right: 0;
}
.admin-name {
    font-weight: bold;
    font-size: 16px;
    color: #3e76b1;
    padding-bottom: 5px;
    display: block;
}
.admin-department {
    font-weight: bold;
    font-size: 14px;
    color: #3e76b1;
    padding-bottom: 5px;
    display: block;
}
.admin-description {
    font-size: 14px;
}
.admin-feedback {
    border: 1px solid #3e76b1;
    border-radius: 3px;
    background: #fff;
}
.admin-description p {
    height: 65px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}
.feedback-results {
    font-size: 14px;
    display: block;
    width: 100%;
    border: 1px solid #3e76b1;
    border-radius: 3px;
    padding: 5px 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1px;
    cursor: pointer;
    text-decoration: none;
    color: #152f49;
    background: #fff;
}
.feedback-results:hover {
    background: #152f49;
    color: #fff;
    transition: 0.3s;
}
.admin-container {
    margin: 2% auto;
    width: 1150px;
    box-shadow: 0px 0px 15px #FFF;
    border: 1px solid #000;
    background: #ececec;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.admin-course-title {
    font-size: 18px;
    font-weight: bold;
    color: #152f49;
    display: block;
}
.admin-course-department {
    font-size: 16px;
    font-weight: bold;
    color: #3e76b1;
    display: block;
    padding-bottom: 20px;
}
.admin-course-description {
    width: 55%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
}
.admin-course-description p {
    color: #152f49;
    font-size: 16px;
    display: block;
    padding-bottom: 10px;
}
.admin-course-feedback {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #313131;
    background: #fff;
}
.admin-user-feedback ul {
    height: 230px;
    overflow-y: auto;
}
.admin-feedback-textarea {
    background: #fff;
    border: 1px solid #3e76b1;
    resize: none;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 15px;
    height: 100px;
}
.admin-feedback-label {
    font-size: 14px;
}
.admin-feedback-input {
    background: #fff;
    border: 1px solid #3e76b1;
    resize: none;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}
.admin-button-wrapper {
    padding: 20px 20px 0;
    box-sizing: border-box;
    text-align: center;
}
.button-publish {
    background: #3e76b1;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #3e76b1;
    padding: 8px 15px;
    float: right;
    margin-top: 7px;
    cursor: pointer;
}
.admin-feedback-item {
    font-size: 14px;
    border-bottom: 1px dashed #050b11;
    padding: 5px 0;
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
}
.admin-feedback-item span {
    font-weight: bold;
    color: #152f49;
}
.admin-feedback-item p {
    padding: 5px 0;
}
.admin-user-feedback {
    padding: 10px 5px;
    
}
.close-modal {
    position: absolute;
    top: -50px;
    right: -30px;
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.admin-feedback-title {
    font-size: 16px;
    font-weight: 600;
}
.admin-feedback-note {
    display: block;
    font-size: 14px;
    font-weight: initial;
}
.admin-feeback-guidelines {
    border: 1px solid #152f49;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}
.admin-guidelines-list {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-size: 14px;
}
.admin-feedback-selectbox {
    background: #fff;
    border: 1px solid #3e76b1;
    resize: none;
    border-radius: 3px;
    width: 20%;
    box-sizing: border-box;
    padding: 6px;   
}
.admin-feedback-label-rate {
    font-size: 14px;
    display: inline-block;
    width: 80%;
    padding-left: 15px;
    box-sizing: border-box;
    vertical-align: top;
}
.admin-feedback-form {
    padding: 0 10px 10px;
}
.admin-feedback-form-item {
    padding-bottom: 5px;
}
.required {
    font-size: 20px;
    color: #ff0000;
    line-height: 0;
    display: inline-block;
    padding: 7px 0;
    vertical-align: middle;
}
.admin-feedback-error {
    font-size: 14px;
    color: #ff0000;
    padding: 3px 0;
    display: block;
}
.flash-success {
    font-size: 18px;
    background: #0cc30c;
    display: block;
    color: #fff;
    padding: 10px 30px;
    text-align: left;
    border-radius: 5px;
}